:root {
  --branding-color: rgb(209, 66, 209);
  --secondary-color: gainsboro;
}

h1 {
  color: pink;
}

body {
  background: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 15px;
}

.contact-link {
  background: pink;
  color: purple;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 20%;
}

.about-link {
  background: pink;
  color: purple;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 20%;
}

.writer-title {
  font-size: 64px;
}

.follow-me {
  font-size: 64px;
}

.btn-branding-outline {
  background: pink;
  color: purple;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 20%;
}

@media (max-width: 960px) {
  .container {
    text-align: center;
  }

  .writer-title {
    font-size: 30px;
  }

  .follow-me {
    font-size: 30px;
  }
}
